
$primary-success-green: #10C971;
$green-active: #0B8D4F;

$neutral-gray-9: #273139;
$neutral-gray-8: #2E383F;
$neutral-gray-7: #475158;
$neutral-gray-6: #606A71;
$neutral-gray-5: #7A848B;
$neutral-gray-4: #939DA5;
$neutral-gray-3: #ADB7BE;
$neutral-gray-2: #C6D0D7;
$neutral-gray-1: #E1E9EE;
$neutral-gray-0: #F5F8F9;

$primary-brand-blue: #185BF6;
$primary-accent-blue: #46AAF2;

$primary-danger-red: #EC4848;

$secondary-yellow: #F4D75F;

$utility-black: #000000;
$utility-white: #FFFFFF;

$transparent: transparent;